@import "./sassdirectory/colors.scss";

body {
  margin: 0;
}

@font-face {
  font-family: Satoshi;
  src: url("./fonts/Satoshi-Bold.otf");
}

//voir  les font families des bouttons

@font-face {
  font-family: Inter;
  src: url("./fonts/Inter-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: Inter;
  src: url("./fonts/Inter-Bold.ttf");
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: Inter;
  src: url("./fonts/Inter-Italic.otf");
  font-weight: normal;
  font-style: italic;
}

@mixin Heading {
  font-family: Satoshi;
  font-weight: 400;
  color: $Greyscales-White;
  //mix-blend-mode: difference;
}

@mixin Links {
  font-family: Satoshi;
  font-weight: 400;
  color: $Greyscales-White;
}

@mixin Paragraph {
  font-family: inter;

  color: $Greyscales-White;
  //mix-blend-mode: difference;
}

h1 {
  @include Heading;
  font-size: 56px;
  line-height: 110%;
}

h2 {
  @include Heading;
  font-size: 48px;
  line-height: 110%;
}

h3 {
  @include Heading;
  font-size: 28px;
  line-height: 110%;
}

h4 {
  @include Heading;
  font-size: 24px;
  line-height: 110%;
}
h5 {
  @include Heading;
  font-size: 20px;
  line-height: 110%;
}
h6 {
  @include Heading;
  font-size: 16px;
  line-height: 110%;
}

a {
  @include Links;
  text-decoration: none;
  .big {
    font-size: 18px;
    line-height: 110%;
  }
  .medium {
    font-size: 16px;
    line-height: 110%;
  }
  .small {
    font-size: 14px;
    line-height: 110%;
  }
}

p {
  @include Paragraph;
  .big {
    font-size: 18px;
    line-height: 150%;
  }
  .medium {
    font-size: 16px;
    line-height: 150%;
  }
  .small {
    font-size: 14px;
    line-height: 130%;
  }
  .tiny {
    font-size: 12px;
    line-height: 130%;
  }
  .quote {
    font-size: 24px;
    line-height: 160%;
    font-style: italic;
  }
}

.CTA-big {
  height: 60px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $Primaires-Gold;
  color: $Primaires-black;
  &:hover {
    background-color: $Primaires-black;
    color: $Greyscales-White;
  }
}

.CTA-Medium {
  height: 50px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;

  &.style1 {
    background-color: $Primaires-Gold;
    color: $Primaires-black;
    &:hover {
      background-color: $Primaires-black;
      color: $Greyscales-White;
    }
  }
  &.style2 {
    background-color: $Primaires-black;
    color: $Greyscales-White;
    &:hover {
      background-color: $Greyscales-Dark_Grey;
      color: $Greyscales-White;
    }
  }
}

.CTA-Small {
  height: 40px;
  border-radius: 12px;
  display: flex;

  justify-content: center;
  align-items: center;
  &.style1 {
    background-color: $Primaires-Gold;
    color: $Primaires-black;
    &:hover {
      background-color: $Primaires-black;
      color: $Greyscales-White;
    }
  }
  &.style2 {
    background-color: $Greyscales-Dark_Grey;
    color: $Greyscales-White;
    &:hover {
      background-color: $Primaires-Gold;
      color: $Greyscales-Black;
    }
  }
}

.BlackColor {
  filter: invert(1);
}

.getIntouch {
  background-color: #5d750f;
  display: flex;
  justify-content: center;
  height: 867px;
  margin-bottom: 200px;
  .Content {
    max-width: 1208px;

    position: relative;
    width: 100%;
    margin-bottom: 250px;
    .SVGRope {
      position: absolute;
      right: -100px;
      top: 0;
    }
    nav {
      display: flex;
      justify-content: space-around;
      padding-top: 40px;
      margin-left: 2%;
      margin-right: 2%;
      position: relative;
      z-index: 50;
      h3 {
        &.logoMenu {
          color: $Greyscales-Black !important;
        }
      }
      .nomenu {
        background-color: rgba(255, 255, 255, 0.2) !important;
        color: $Greyscales-White;
        &:hover {
          color: $Greyscales-Black;
        }
      }
      .navMenu {
        display: flex;
        gap: 40px;
        button {
          border: none;
          background-color: inherit;
          color: $Greyscales-White;
          font-family: Inter;
        }
        .Black {
          color: $Greyscales-Black;
        }
      }

      .Logo {
        margin: auto;
        display: flex;
        gap: 5px;
        align-items: center;

        height: 30px;
      }
      > a {
        min-width: 150px;
      }
    }

    .TitlesZonetext {
      background-color: $Greyscales-White;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 375px;
      width: 30%;
      padding: 40px;
      position: absolute;
      right: 50px;
      top: 40%;
      z-index: 2;
      border-radius: 30px;
      > a {
        margin-bottom: 0px;
      }
      h4 {
        color: $Primaires-black;
        font-family: inter;
      }
    }
    .GetInTouch_bloc {
      height: 940px;
      width: 100%;

      position: relative;
      margin-top: 10%;
      .Title {
        width: 50%;
      }
      .titleFlex {
        display: flex;
        gap: 40px;
        justify-content: space-between;
      }
      .ImageSlot {
        border-radius: 15px;
        max-width: 578px;

        position: relative;
        width: 100%;
        height: 578px;
        overflow: hidden;
      }
    }
  }
}

.AllInOne {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1208px;
  margin: auto;
  margin-bottom: 150px;
  .title h5 {
    color: $Secondary-Velour;
  }
  .Description {
    text-align: center;
    font-style: normal;
    width: 60%;
  }
  .AllInOneList {
    display: flex;
    flex-direction: column;
    width: 100%;

    .AllIneOneElement {
      display: flex;
      margin-top: 40px;
      gap: 40px;
      justify-content: space-between;
      &:nth-child(2n) {
        flex-direction: row-reverse;
      }
      .ImageContainer {
        max-width: 578px;

        position: relative;
        width: 100%;
        height: 430px;
        overflow: hidden;
      }
      .Title {
        display: flex;
        align-items: center;
        gap: 32px;
      }
      .Content {
        margin: auto;
        margin-top: auto;
        width: 35%;
        margin-top: 5%;
      }
      .Pins {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 50px);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        .pin0 {
          grid-area: 1 / 1 / 2 / 2;
          display: flex;
          align-items: center;
          gap: 15px;
        }
        .pin1 {
          grid-area: 1 / 2 / 2 / 3;
          display: flex;
          align-items: center;
          gap: 15px;
        }
        .pin2 {
          grid-area: 2 / 1 / 3 / 2;
          display: flex;
          align-items: center;
          gap: 15px;
        }
        .pin3 {
          grid-area: 2 / 2 / 3 / 3;
          display: flex;
          align-items: center;
          gap: 15px;
        }
      }
    }
  }
}

.CarrousselBloc {
  background-color: $Primaires-black;
  height: 597px;
  display: flex;
  justify-content: center;
  align-items: center;

  > div {
    padding: 20px 10%;
    display: flex;

    max-width: 1208px;
    width: 100%;
  }
  .CarrousselRightElement {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 5%;
    height: 397px;
  }
  .CarrousselLeftElement {
    width: 40%;
    display: flex;
    flex-direction: column;

    padding-top: 60px;
  }
  .Buttons {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 5px;
    > button {
      padding: 0;
      border: none;
      background: $Greyscales-White;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      > svg {
        height: 16px;
      }
    }
    .ButtonPins {
      display: flex;
      justify-content: center;
      gap: 5px;
      margin-left: 10px;
      .ButtonPin {
        width: 8px;
        height: 8px;
        padding: 0;
        border: none;
        background: $Greyscales-Dark_Grey;
        border-radius: 50%;
      }
      .Selected {
        background: $Greyscales-White !important;
      }
    }
  }
  .Signature {
    position: relative;
    svg {
      position: absolute;
      z-index: 10;
      right: 0px;
      top: 100px;
    }
  }
  .ImageContainer {
    position: relative;
    max-width: 248px;
    height: 248px;
    > img {
      height: 100%;
    }
  }
}

.footer {
  margin: auto;
  margin-top: 100px;

  max-width: 1208px;
  height: 460px;
  a {
    min-width: 150px;
    font-family: inter;

    margin-top: 3px;
  }
  p,
  h3 {
    font-family: inter;
    margin-top: 0px;
    color: $Primaires-black;
  }
  .black {
    color: $Primaires-black;
    font-style: regular;
  }
  .list {
    height: 70%;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(2, 25%);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    .elem1 {
      grid-area: 1 / 1 / 2 / 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .elem2 {
      grid-area: 1 / 2 / 2 / 3;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .elem3 {
      grid-area: 1 / 3 / 2 / 4;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .elem4 {
      grid-area: 1 / 4 / 2 / 5;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .elem5 {
      grid-area: 1 / 5 / 2 / 6;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .elem6 {
      grid-area: 2 / 1 / 3 / 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .elem7 {
      grid-area: 2 / 2 / 3 / 3;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .elem8 {
      grid-area: 2 / 3 / 3 / 4;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .elem9 {
      grid-area: 2 / 4 / 3 / 5;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .elem10 {
      grid-area: 2 / 5 / 3 / 6;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  hr {
    margin-top: 40px;
    border-radius: 50%;
    opacity: 0.3;
    width: 80%;
  }

  .BottomElem {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    margin-right: 25%;
    align-items: center;
    h3 {
      color: $Primaires-olive;
    }
    > div {
      display: flex;
      justify-content: space-between;
      gap: 20px;
    }
  }
}

.Menu {
  p,
  h6 {
    color: $Greyscales-Black;
  }

  position: absolute;
  background-color: $Greyscales-White;
  top: 20px;
  max-width: 1208px;
  width: 90%;
  height: 250px;
  padding-top: 70px;
  border-radius: 20px;

  box-shadow: 0px 10px 9px 2px rgba(0, 0, 0, 0.31);
  z-index: 10;
  > hr {
    border-radius: 50%;
    width: 80%;
  }
  > div {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  button {
    padding: 0;
    border: none;
    background-color: $Greyscales-White;
    border-radius: 20px;
    padding: 10px;
    width: 30%;
    &:hover {
      background-color: #f6f7fa;
    }
  }
}
