$Primaires-olive: #5d750f;
$Primaires-Gold: #e4c87f;
$Primaires-black: #101010;

$Secondary-Light_gold: #f4e9cc;
$Secondary-Velour: #560039;

$Greyscales-Black: #101010;
$Greyscales-Dark_Grey: #0034df;
$Greyscales-White: #ffffff;
